/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* logo ka naam ride buddy aur logo */
.logo-name{
    display: flex;
    align-items: center;
}

/* Logo*/
.header .logo {
    height: 50px; /* adjust as needed */
    margin-right: 10px;
}
 
/*logo ka naam ridebuddy*/
.header .app-name {
    display:flex;
    font-size: 24px;
    font-weight: bold;
    font-family: 'segoe script';
}

/* Right button book a cab and profile*/
.header .rightdiv {
    margin-left: 10px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 18px;
    align-items: center;
}

/*book a cab button*/
.bookcab{
    color: rgb(6, 193, 244);
    text-decoration: none;
    font-size: 18px;
} 
/*profile*/
.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.arrow {
  font-size: 14px;
  transition: transform 0.2s;
}

/* Dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  width: 200px;
  flex-direction: column;
}

.dropdown a {
  padding: 15px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown a:hover {
  background: #f2f2f2;
}

.profile.active .dropdown {
  display: flex;
}

.profile.active .arrow {
  transform: rotate(180deg);
}

.login-container {
  width: 500px;
  margin: 50px auto;         /* center horizontally */
  text-align: center;        /* heading aur content center */
  font-family: Arial, sans-serif;
}

.login-container h2 {
  margin-bottom: 20px;       /* heading ke neeche gap */
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;             /* input ke beech gap */
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border 0.3s ease;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border: 1px solid #007bff; /* blue border on focus */
  border-radius: 20px;
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #5ab4f5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
